@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Kanit:ital,wght@0,300;0,400;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Poppins:ital,wght@0,100;0,200;1,300&display=swap');

.containerNavbar{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo a{
  font-size: 25px;
  color: #ededed;
  text-decoration: none;
  font-weight: 600;
  font-family: 'Kanit';
}

.navbar a{
  font-size: 18px;
  color: #ededed;
  text-decoration: none;
  font-weight: 600;
  margin-left: 35px;
  transition: .3s;
}

.navbar a:hover{
  color: #00abf0;
}